li {
    width:400px;
    padding-bottom: 2px;
    background: #E6E6F2;
    border: 5px solid #000079;
    border-radius: 15px;
    text-align: center;
}
.deleteBtn{
    display: block;
    font-weight: bold;
    margin:0 auto;
    border: 2px solid red;
    border-radius: 10px;
}
.deleteBtn:hover{
    font-size: 10px;
}